.hero {
  padding: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff7f5;
}

.heroText h1 {
  font-size: 64px;
  color: #191233;
  margin: 20px 0;
}

.heroText span {
  background: #ff6b57;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
}

.hero img {
  width: 400px;
  border-radius: 20px;
}

.pricing {
  padding: 100px 80px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}